<section class="register">
  <h1>Iniciando sesión como administrador de grupo</h1>
  <%= form_with(url: login_path, local: true, html: { class: 'new_user' }) do |f| %>
    <div class="field">
      <%= f.label :username, 'Nombre de usuario' %>
      <%= f.text_field :username %>
    </div>

    <div class="field">
      <%= f.label :password, 'Contraseña' %>
      <%= f.password_field :password %>
    </div>

    <div class="actions">
      <%= f.submit 'Inicia sesión', class: 'btn' %>
    </div>
  <% end %>
  <%= link_to 'Registrarse como director', new_director_path %>
</section>

