<section class="register">
  <h1>Iniciando sesi칩n como administrador de grupo</h1>
  <%= form_with(url: login_path, local: true, html: { class: 'new_user' }) do |f| %>
    <div class="field">
      <%= f.label :email, 'Correo electr칩nico' %>
      <%= f.email_field :email %>
    </div>

    <div class="field">
      <%= f.label :password, 'Contrase침a' %>
      <%= f.password_field :password %>
    </div>

    <div class="actions">
      <%= f.submit 'Inicia sesi칩n', class: 'btn' %>
    </div>
  <% end %>
</section>

