 <section class="register">
  <h2>Editar perfil</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email, 'Correo eléctronico' %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
        <%= f.label :cellphone, 'Número de teléfono' %>
        <%= f.text_field :cellphone, autofocus: true, autocomplete: "cellphone", required: true %>
      </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password, 'Contraseña' %> <i>(Dejala en blanco si no quires cambiarla)</i>
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        
        <em><%= @minimum_password_length %> caracteres minimo</em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, 'Confirmar contraseña' %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :current_password, 'Contraseña actual' %> <i>(necesitamos la contraseña actual para aplicar los cambios)</i>
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <div class="field upload-image">
      <%= f.label :image, 'Seleccione su foto de perfil', class: 'custom-file-upload-label' %>
      <%= f.file_field :image,
          placeholder: 'Subir imagen',
          direct_upload: true,
          id: 'user_image',
          class: 'custom-file-upload'
      %>
    </div>
    
    <div class="actions">
      <%= f.submit "Actualizar", class: 'btn' %>
    </div>
  <% end %>

  <h3>Cancelar mi cuenta</h3>

  <div class='delete-div'>infeliz? <%= button_to "Borrar mi cuenta", registration_path(resource_name), method: :delete, class: 'btn' %></div>

  <%= link_to "Atrás", :back %>
</section>
