<%= form_for(:director, url: directors_path, html: {class: "add-new-info-form"}) do |f| %>
    <div class="field">
      <%= f.label :username, 'Nombre de usuario'%>
      <%= f.text_field :username %>
    </div>

    <div class="field">
      <%= f.label :email, 'Correo electr칩nico'%>
      <%= f.email_field :email %>
    </div>

    <div class="field">
      <%= f.label :password, 'Contrase침a'%>
      <%= f.password_field :password %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, 'Confirmar contrase침a'%>
      <%= f.password_field :password_confirmation %>
    </div>

    <%= f.submit 'Crear director', class: 'btn' %>

    <%= link_to 'Atr치s', :back %>
  <% end %>