<section id="group-show" data-controller="group-show">
  <div class="group-header" style="background-color: <%= @group.color %>;">
    <h1 > Directorio de: <%= @group.name %> </h1>
  </div>
  <div class="banner-container">
    <%= cl_image_tag(@group.image.key, :crop => :fill) if @group.image.attached? %>
  </div>
  <div class="search-bar-holder">
    <div class="search-bars">
      <select class="select-profession">
        <option value='undefined'> Buscar por profesión </option>
        <% @professions.map do |profession| %>
          <option value="<%= profession.name %>"> <%= profession.name %></option >
        <% end %>
      </select>
      <select class="select-jobplace">
        <option value='undefined'> Buscar por lugar de trabajo </option>
        <% @jobplaces.map do |jobplace| %>
          <option value="<%= jobplace.name_and_city %>"> <%= jobplace.name_and_city %></option >
        <% end %>
      </select>
      <select class="select-job">
        <option value='undefined'> Buscar por cargo </option>
        <% @jobs.map do |job| %>
          <option value="<%= job.name %>"> <%= job.name %></option >
        <% end %>
      </select>
    </div>
    <div class ="search-btns">
      <button class="search-btn btn"> Buscar </button>
      <button class="clean-btn btn"> Limpiar </button>
    </div>
    <p class='search-results'> </p>
  </div>
  <div class="group-profiles-holder directory-profile-holder">
    <% @users_processed.each do |user| %>
      <div class="group-profile">
        <div class="group-profile-user">
          <div class="group-profile-user-image directory-image">
            <%= cl_image_tag(user[:user].image.key, :width => 200, crop: :fill) if user[:user].image.attached? %>
          </div>
          <div class="group-profile-user-info">
            <p><span class="profile-title">Nombre:</span> <br />  <%= user[:user].full_name %> </P>
            <% if current_director  %>
              <p><span class="profile-title">Correo electrónico:</span>  <br /> <%= user[:user].email %> </P>
              <p><span class="profile-title">Número de contacto:</span>  <br /> <%= user[:user].cellphone %> </P>
            <% end %>
            <p><span class="profile-title">Profesiones:</span></p>
            <ul class="list profession ">
              <% if user[:professions].size > 0 %>
                <% user[:professions].each do |profession| %>
                  <li>
                    <%= profession.name %>
                  </li>
                <% end %>
              <% else %>
                <li>
                  Sin profesiones registradas aún.
                </li>
              <% end %>
            </ul>
            <p><span class="profile-title">Lugares de trabajo:</span> </p>
            <ul class="list jobplace">
              <% if user[:jobplaces].size > 0 %>
                <% user[:jobplaces].each do |jobplace| %>
                  <li>
                    <%= jobplace.name %> de <%= jobplace.city %>
                  </li>
                <% end %>
              <% else %>
                <li>
                  Sin lugares de trabajo registrados aún.
                </li>
              <% end %>
            </ul>
            <p><span class="profile-title">Cargos:</span> </p>
            <ul class="list job">
              <% if user[:jobs].size > 0 %>
                <% user[:jobs].each do |job| %>
                  <li>
                    <%= job[:job].name %>
                  </li>
                  <p>
                    <span class="profile-title">Funciones del cargo:</span>
                  </p>
                  <ul class="list">
                    <% if job[:responsibilities].size > 0 %>
                      <% job[:responsibilities].each do |responsibility| %>
                        <li>
                          <%= responsibility.description %>
                        </li>
                      <% end %>
                    <% else %>
                      <li>
                        Sin responsabilidades añadidas aún.
                      </li>
                    <% end %>
                  </ul>
                <% end %>
              <% else %>
                <li>
                  Sin lugares de trabajo registrados aún.
                </li>
              <% end %>
              </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>