<h1>Tu perfil </h1>

<div> 
  <%if current_user.image != 'no'%>
    <img src="<%= current_user.image %>" alt="User Image">
  <% else %>
    <img src="https://cdn.pixabay.com/photo/2016/10/25/18/27/unknown-1769656_1280.png" alt="no-image">
  <% end %>
  <p> Nombre: <%= current_user.full_name %> </p>
  <p> Correo: <%= current_user.email %> </p>
  <p>Trabajos: </p>
  <% if @jobs_assigned.size > 0 %>
    <ul>
    <% @jobs_assigned.each do |job| %>
      <li>
        <%= job[:name] %>
        <ul>
          <% if job[:responsibilities].present? %> 
            <% job[:responsibilities].each do |responsibility| %>
              <li>
                <%= responsibility.description %>
              </ li>
            <% end %>
           <% end %>
        </ ul>
        <%= form_for(:responsibility, url: user_jobs_user_responsibilities_path(user_id: current_user.id, jobs_user_id: job[:association_id])) do |f| %>
          <%= f.label :description, 'Añadir función' %> <br /> 
          <%= f.text_field :description %>

          <%= f.submit 'Añadir' %>
        <% end %>
        <%= button_to 'Eliminar trabajo', user_jobs_user_path(user_id: current_user.id, id: job[:association_id]), method: :delete, data: { confirm: 'Está seguro?' } %>
      </li>
      </ul>
    <% end %>
  <% else %>
    <p> Sin trabajos aún </p>
  <% end %>
</div>

<div>
  <h2>Añadir información</h2>
  <% if @jobs.size > 0 %>
    <%= form_for(:job, url:user_jobs_users_path(user_id: current_user.id)) do |f|  %>

      <div class="field">
        <%= f.label :job_id, 'Seleccione su trabajo' %><br />
        <%= f.collection_select :job_id, @jobs, :id, :name %>
      </div>

      <%= f.hidden_field :user_id, value: current_user.id %>

      <%= f.submit 'Añadir'%>
      <% end %>
      <% end %>
      <%= form_for(:job, url: jobs_path ) do |f| %>
        <div>
        <%= f.label :name, 'Añadir trabajo a la lista' %> <br /> 
        <%= f.text_field :name %>
        </div>
        <%= f.submit 'Añadir'%>
    <% end %>
  </div>
</div>

<div> 
<h2> Solicitudes </h2>
  <div>
    <h3>Pendientes de aprobación </h3>
    <% if @requests.size > 0 %>
    <ul>
      <% @requests.each do |request| %>
        <li><%= request[:group].name %></li>
      <% end %>
    </ul>
    <% else %>
      <p>No hay solicitudes pendientes</p>
    <% end %>
  </div>
  <div>
    <h3>Enviar solicitud</h3>
    <%= form_for(:request, url: requests_path ) do |f|  %>

      <div class="field">
        <%= f.label :group_id, 'Seleccione el grupo' %><br />
        <%= f.select :group_id, options_for_select(Group.all.map { |group| [group.name, group.id] }) %>
      </div>

      <%= f.hidden_field :user_id, value: current_user.id %>

      <%= f.submit 'Enviar'%>
    <% end %>
  </div>
</div>
