<section class="section">
<div class="plan-confirmation">
  <div class="plan-style" style="background-color:<%= @plan.color %>; color: white; "><%= @plan.name %></div>     
          <div class="plan-div">
            <p><span class="profile-title">Nombre del plan:</span></p>
            <p><%= @plan.name %></p>
            <p><span class="profile-title">Número de grupos:</span></p>
            <p><%= @plan.number_of_groups %></p>
            <p><span class="profile-title">Número de usuarios por grupo:</span></p>
            <p><%= @plan.number_of_users_per_group %></p>
            <p><span class="profile-title">Precio al año:</span></p>
            <p>$<%= @plan.price %></p>
          </div>

    </div>
   <div id="paypal-button-container"></div>
<script src="https://www.paypal.com/sdk/js?client-id=AcvOOJcimG2xx8ziWSbu7xJz4TMIni7lVxDJuWk5RrCH9UdYlOac8Bvpf32ILl3Ii_gkOS0r6jy1ZAFY"></script>
<script>
  paypal.Buttons({
    env: 'sandbox', // Or 'sandbox'
    style: {
      layout: 'horizontal',  // horizontal | vertical
      size:   'medium',    // medium | large | responsive
      shape:  'rect',      // pill | rect
      color:  'gold'       // gold | blue | silver | black
    },
    // Set up the transaction
    createOrder: function(data, actions) {
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: `<%= @plan.price %>`,
          },
        }]
      });
    },
    // Finalize the transaction
    onApprove: async (data) => {
      const response = await fetch('/capture_order', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ order_id: data.orderID })
      });

      const responseData = await response.json();

      if (responseData.status === 'COMPLETED') {
        alert('COMPLETED');
        // REDIRECT TO SUCCESS PAGE
      }
    }
    onApprove: function(data, actions) {
      return actions.order.capture().then(function(details) {
        console.log(details)
        fetch(`/assign_plan/<%= @plan.id %>`, { method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRF-Token': Rails.csrfToken()
        },
         })
      });
    }
  }).render('#paypal-button-container');
</script>
<%= @plan.price %>
  



    <%= link_to 'Atras', :back %>
</div >
</section>